.projects {
    height: 80vh;
    width: 100%;
    display: grid;
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
  }
  
  .projects h1 {
    font-family: "Syne";
  }

  .projects span {
    transition: 0.3s color;
  }

  .projects span:hover {
    color: #d4d4d4;
    border-color: #ff7e55;
    filter: drop-shadow(0 0 0.1em #ff7e55);
    transition: 0.5s filter;
  }
  
  .projects span:active {
    color: #ff7e55;
    outline: none;
    list-style: square;
    border-color: #ff7e55;
    filter: drop-shadow(0 0 0.1em #ff5722);
  }