.home h1 {
  font-family: "Syne";
  font-style: ligth;
  margin-bottom: 5vh;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 10vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__highlight{
  color: #ff7e55;
  text-decoration-color: #fff
}

.home button{
  margin-top: 5vh;
}