.about {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0 10vw;
  grid-template-columns: 2fr 0.5fr;
}

.about h1 {
  font-family: 'Syne';
}

.about__container {
  display: flex;
  align-items: start;
  justify-content: center;
}

.about__img {
  width: 80%;
  height: auto;
  border-radius: 20%;
  filter: drop-shadow(0 0 0.5em #fefefe);
}

.about__data {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}

.about__data h1{
  margin-bottom: 5vh;
}

.about__data p {
  text-align: justify;
  width: 80%;
  font-family: 'Kanit';
  font-size: large;
  font-weight: 200;
}

.about__data h1 u{
  color: #ff7e55;
  text-decoration-color: #fff;
}

.about__button{
  margin-top: 3vh;
}