.about h1 {
  font-family: titles_font;
  font-style: ligth;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about__container__img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.5em #fefefe);
}
.about {
  display: grid;
  margin: auto;
  height: 80vh;
  align-content: center;
  justify-content: center;
  padding: 0 5vw;
  grid-template-columns: minmax(350px, 1fr) 1.5fr;
}

.about button:hover {
  color: #d4d4d4;
  border-color: #ff7e55;
  filter: drop-shadow(0 0 0.1em #ff7e55);
}

.about button:active {
  color: #ff7e55;
  outline: none;
  list-style: square;
  border-color: #ff7e55;
  filter: drop-shadow(0 0 0.1em #ff5722);
}

.home button {
  font-family: titles_font;
  font-style: ligth;
  text-transform: uppercase;
  font-size: large;
}

.about__data p {
  text-align: justify;
  width: 70%;
  font-family: 'Poppins', sans-serif;
}

.about__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
