.nav {
  align-content: center;
  justify-content: center;
  margin: 1vw;
}

.menu {
  display: flex;
  text-align: start;
  margin: 0;
  padding: 0;
  font-family: "Syne";
  text-transform: uppercase;
  align-content: center;
  font-size: medium;
  font-weight: 300;
}

.item {
  color: #d4d4d4;
  list-style: none;
  outline: none;
  margin: 0 1vw;
}

.selected {
  color: #ff7e55;
  list-style: square;
  margin: 0 1vw;
  outline: none;
  transition: 0.5s color;
}
