.tabs-content {
  height: 80vh;
  width: 100%;
  display: flex;
  padding: 0 5vw;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.tabs-content h1 {
  font-family: "Syne";
  margin-bottom: 5vh;
}

.tabs-content span {
  transition: 0.3s color;
}

.tabs-content span:hover {
  color: #d4d4d4;
  border-color: #ff7e55;
  filter: drop-shadow(0 0 0.1em #ff7e55);
  transition: 0.5s filter;
}

.tabs-content span:active {
  color: #ff7e55;
  outline: none;
  list-style: square;
  border-color: #ff7e55;
  filter: drop-shadow(0 0 0.1em #ff5722);
}

.tabs-content span:active {
  color: #ff7e55;
  outline: none;
  list-style: square;
  border-color: #ff7e55;
  filter: drop-shadow(0 0 0.1em #ff5722);
}