.footer {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: #d4d4d4;
  text-decoration: none;
}

.footer a:hover {
  color: #d4d4d4;
  filter: drop-shadow(0 0 0.1em #ff7e55);
  transition: 0.5s filter;
}

.footer a:active {
  color: #ff7e55;
  outline: none;
  list-style: square;
  filter: drop-shadow(0 0 0.1em #ff5722);
  transition: 0.1s filter;
}
