#root {
  margin: 0 3em;
  padding: 1em 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  align-items: center;
  justify-items: center;
}

.header__logo {
  height: 2em;
  width: auto;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  align-items: center;
  filter: drop-shadow(0 0 0.75em #ff7e55);
}

.links {
  display: flex;
  flex-direction: row;
  font-size: larger;
}

.links a{
  margin-left: 5px;
}

.navmenu{
  width: 100%;
  float: left;
}

#main {
  height: 100%;
}